:root {
  --bodyBG: white;
  --diagram: rgba(0, 0, 0, 0);
  --diagramHover: rgb(243, 243, 243);
  --gray: #CCCCCC;
}

body {
  margin: 0;
  padding: 0;
  background: var(--bodyBG);
  font-family: "Roboto", sans-serif;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.diagram-container {
  border: 1px solid red;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.diagram {
  position: relative;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#svg-outlines,
#svg-annotations {
  pointer-events: none;
}

.areas {
  fill: var(--diagram);
}

.areas path:hover {
  cursor: pointer;
  stroke: rgb(197, 197, 197);
  stroke-width: 0.5px;
}

.active {
  stroke: rgb(197, 197, 197);
  stroke-width: 1px;
}

.calendar {
  margin: 0 auto;
  margin-bottom: 20px;
  background: var(--diagramHover);
  height: 200px;
  width: 80vw;
  border-radius: 10px;
  border: 2px solid var(--gray);
}
